@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {
    /* Palette 1: Soft Neutrals with Pastels */
    --soft-neutral-light-gray: #F5F5F5;
    --soft-neutral-gray: #E0E0E0;
    --soft-neutral-pale-teal: #B2DFDB;
    --soft-neutral-muted-aqua: #80CBC4;
    --soft-neutral-white: #FFFFFF;

    --header-bg: var(--soft-neutral-pale-teal);
    --h2: var(--soft-neutral-muted-aqua);
    --link: var(--soft-neutral-muted-aqua);
    --accent: var(--soft-neutral-gray);
    --section-bg: var(--soft-neutral-light-gray);

    --white: #f0f0f0;
    --text: #333941;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--text)
}

header {
    background: var(--header-bg);
    padding: 8px 0;
    text-align: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
}

nav {
    background: var(--header-bg);
    padding-bottom: 8px;
    text-align: center;
    font-size: 0.9rem;
}

nav a {
    color: var(--text);
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.banner-img {
    max-height: 100px;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #fafafa;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section:not(#contact) {
    margin-bottom: 30px;
}

.section h2 {
    font-family: 'Nunito', sans-serif;
    color: var(--h2);
    font-size: 2rem;
    margin-bottom: 10px;
}

#welcome-header {
    margin-top: 0;
}

.section p,
.section ul {
    font-size: 1.1rem;
    color: var(--text);
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    background: var(--section-bg);
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid var(--accent);
}

.therapist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 25%;
    border: 4px solid var(--accent);
    margin-top: 0;
}

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info p {
    margin: 10px 0;
}

footer {
    background: var(--header-bg);
    color: var(--text);
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover,
summary:hover {
    text-decoration: underline;
}

summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
}

summary::-webkit-details-marker {
    display: none;
}

@media (min-width: 640px) {
    header h1 {
        font-size: 2.5rem;
    }

    .container {
        margin: 20px auto;
    }

    nav {
        font-size: 1rem;
    }
}